<blockquote>
	<p><%= feed.body %></p>
	<small><cite><%= feed.user.name %></cite></small>
	<% if user_signed_in? and current_user.id == feed.user.id %>
	<%= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-trash' ), [feed.topic, feed],
	               method: :delete,
	               data: { confirm: 'Are you sure?' }, remote: true %>
    <% end %>
</blockquote>