<%= form_for( [@topic, @topic.feeds.build], html: { role: 'form' }, remote: true ) do |f| %>

	<div class="form-group">
    	<%= f.text_area :text, class: 'form-control' %>
	</div>
	<div class="form-group">
    	<%= f.submit class: 'btn' %>
	</div>
	
<% end %>