<%= title( 'Classy' ) %>

<div class="row-fluid">
	<div class="col-md-9">
		<h1>Class Topics</h1>
		<br>
		<%= render @topics %>

	</div>
  <div class="col-md-3">
	  <h1>Class: AME494 Programming For Social Media</h1>
  	<h3>Fall 2013, Professor Loren Olsen</h3>
  </div>

</div>